.grey-font{
            
  color:lightgray;
  font-family: 'Noto Sans', 'sans-serif';
  font-size: 120%;
}

#about{height: auto;}

body{
  background-image: url("../images/body.jpg");
  
  /**
  background-color: #18222B;
  **/
  background-repeat: repeat;
  background-attachment: scroll;
  margin-bottom: 0;
}


.featurette-divider{
  
  background: url("../images/bar.png") repeat-x 0 0;
  height:10px;
}

.featurette-heading{
  
  color:#E1BB40;
}

.epic{
  color:#E1BB40;
  font-family: 'Cinzel', 'serif';       
}

.small-epic{
  
  color:white;
  font-family: 'Noto Sans', 'sans-serif';
  
}

.card-body{
      background-color: #769854; !important;
      border:2px solid #3f2a14 !important;
  /** border-top: 0px !important; **/
      border-radius: 5px 5px 5px 5px !important;
      color: whitesmoke;
  }
  
  .card{
      display: block !important;
      width: 80%;
      /** background-color: #3f2a14; **/
  }

.card-header{
      background-color: #987654; !important;
      border:2px solid #3f2a14 !important;
      border-radius: 5px 5px 1px 1px !important;
      font-family: 'Carter One', cursive !important;
      color: #CBBBAA !important;
  }

#information{
  height: 100vh; 
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: white;
  /**
  -webkit-text-fill-color: white; /* Will override color (regardless of order)
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  **/
  background-image: url("https://images.unsplash.com/photo-1511593358241-7eea1f3c84e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 0;
}

#download{
  display: none;
}

#download1{
  display: none;
}

#play1{
  height: 100vh; 
  width: 100%;
  text-align: center;
  vertical-align: middle;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-image: url("https://images.unsplash.com/photo-1524527751335-fe0205710b30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 0;
}
#play{
  height: 100vh; 
  width: 100%;
  text-align: center;
  vertical-align: middle;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-bottom: 0;
  margin: 0 auto !important;
}
/**
html {scroll-behavior: smooth;}
**/
#head{
  /** height: calc(100vh - 83px); **/
  height: 100vh;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#about1{
  height: 100vh; 
  width: 100%;
  text-align: center;
  vertical-align: middle;
  /**
  -webkit-text-fill-color: white;  /* Will override color (regardless of order) 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  **/
}

#about1{
  background-image: url("https://images.unsplash.com/photo-1500993855538-c6a99f437aa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 0;
  width: 100%;
}

#about2{
  display: none !important;
}

.border-dark{
  color: #654321 !important;
}

#head2{
  background-image: url("https://media.discordapp.net/attachments/570340253714350213/580217116515631156/LowPolyStylizedEnvironment_Screenshot_1-1920x1080-8df4e79cb034ee271f254f8959518966.png?width=1696&height=954");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 0;
  width: 100%;
}

.navbar
{
}

canvas{
  justify-content: center;
  margin: 0 auto;
}

/

.navbar-fixed-top {
  min-height: 80px;
}
.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 80px;
}
@media (min-width: 768px) {
  #factslist{
      padding-left: 10vw !important;
      padding-right: 10vw !important;
  }
}




@media (max-width: 767px) {
  #easter{
      display: none;
  }
  
  #head2{
      background-image:url('https://images.unsplash.com/photo-1503435980610-a51f3ddfee50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80');
  }
  
  img{
      float: none !important;
      display: block;
      margin: 0 auto !important;
  }
  #mainav{
      background-image: none !important;
  }
  
  #foot{
      background-image: none !important;
  }
  
  #download{
      display: inline-block;
      height: 100vh;
      background-color: lightskyblue;
      width: 100vw;
      text-align: center;
  }
  #download1{
      display: inline-block;
  }
  
  #head{
  
  height: calc(100vh); 
  }
  
  .navbar-nav > li > a {
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
  
  #information{
      
      background-image: url('https://images.unsplash.com/photo-1527100673774-cce25eafaf7f?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')
      
     
  }
  .navbar-nav {
  }
  
  
  
  hr{
      
      background-image:url("https://www.runescape.com/img/microsite/small_break.png") !important;
      background-size: 15px;
      border-top: 4px;
      
  }
  #about{
      display: none !important;
  }
  
  #about1{
      background-image: url('https://images.unsplash.com/photo-1531273776218-7d1bd4db5447?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80') !important;
      -webkit-text-fill-color: none;  /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 0px;
      -webkit-text-stroke-color: none;
  }
  #about2{
      display: inline-block !important;
      width: 80% !important;
      
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      margin-bottom: 0;
      width: 100%;
      vertical-align: middle !important;
      background-color: #3f2a14;
  }
  
  .card-header{
      background-color: #987654; !important;
      border:2px solid #3f2a14 !important;
      border-radius: 5px 5px 1px 1px !important;
      font-family: 'Carter One', cursive !important;
      color: #CBBBAA !important;
  }
  
  .card-body{
      background-color: #769854; !important;
      border:2px solid #3f2a14 !important;
      border-top: 0px !important;
      border-radius: 1px 1px 5px 5px !important;
      color: whitesmoke;
  }
  
  .card{
      display: block !important;
      width: 100% !important;
  }
  
  
  #play1{
      background-image: url('https://images.unsplash.com/photo-1557591560-a4380d09c622?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
     
  }
  #brand{
      display: none;
  }
  
  #information{background-attachment: scroll;}
  #play1{background-attachment: scroll;}
  #about{background-attachment: scroll;}
  #about1{background-attachment: scroll; text-align: center; display: flex!important;}
  #about2{background-attachment: scroll;}
  #head2{background-attachment: scroll;}
}
.border-3 {
  border-width: 5px !important;
  border-style: solid !important;
  border-color:#3f2a14 !important;
}


@media (min-width: 1060px) and (min-height: 700px) {
  #unityContainer {
      height: 600px !important;
      width: 960px !important;
  }
}

#yogi{
float: right;
border: 1px solid black;
margin: 0px 0px 10px 10px;
max-height: 150px;
}

#brian{
  float: left;
  border: 1px solid black;
  margin: 10px 10px 0px 0px;
  max-height: 150px;
}

#herb{
  float: right;
  border: 1px solid black;
  margin: 0px 0px 10px 10px;
  max-height: 150px;
}

#josh{
  float: left;
  border: 1px solid black;
  margin: 10px 10px 0px 0px;
  max-height: 150px;
}

#arka{
  float: right;
  border: 1px solid black;
  margin: 0px 0px 10px 10px;
  max-height: 150px;
}

.navbar-nav .nav-item .nav-link {
color: white;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
color: #E1BB40;
text-decoration: underline;
text-decoration-color: #E1BB40;
}